body {
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #272727;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #7c7c7c;
    border-radius: 10px;
    background-color: #444444;
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: rgb(125, 101, 197);
    color: azure;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-container button:hover {
    background-color: #705874;
}

.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    color: azure;
}

.home-button a {
    text-decoration: none;
    color: azure;
    font-size: 20px;
}

.home-button a i {
    margin-right: 5px;
}


.additional-options {
    text-align: center;
    color: azure;
}

.additional-options a {
    color: rgb(125, 101, 197);
    text-decoration: none;
}

.additional-options a:hover {
    text-decoration: underline;
}

