body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: grid;
    grid-template-areas: "logo search login";
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.5rem;
    position: relative; 
}

.navbar__logo {
    grid-area: logo;
    justify-self: start;
    margin-left: 15px;
    margin-top: 15px;
}

.search-container {
    position: relative;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    grid-area: search;
    justify-self: center;
    width: 350px;
}

.search-box {
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    background-color: white;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

#search {
    padding: 8px;
    flex-grow: 1;
    border: none;
    outline: none;
}

#searchButton,
#locateButton {
    padding: 8px;
    background-color: rgb(114, 114, 114);
    color: white;
    border: none;
    cursor: pointer;
}

#searchButton:hover,
#locateButton:hover {
    background-color: rgb(177, 177, 177);
}

#locateButton {
    background-color: rgb(107, 141, 246);
    border-radius: 0;
}

#locateButton:hover {
    background-color: rgb(3, 115, 252);
}

#map {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 -8px 16px rgb(169, 169, 169); 
    z-index: -1; 
    overflow: hidden;
}

.titelbalken {
    background-color: rgb(54, 54, 54);
}

img {
    max-width: 150px;
    height: auto;
}

.profile {
    grid-area: login;
    justify-self: end;
    align-self: center;
    position: absolute; /* Fixes the profile image to the top right corner */
    top: 15px;
    right: 10px;
}

.profile img {
    height: clamp(20px, 10vw, 50px);
    width: auto;
}

/* Media Query für Bildschirmgrößen kleiner als 768px */
@media only screen and (max-width: 768px) {
    .navbar {
        grid-template-areas: "logo" "search";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .search-container {
        width: 100%;
        padding: 0 10px;
        font-size: 4vw;
        margin-top: 20px;
    }

    .search-box {
        width: 100%;
    }

    #search {
        width: 100%;
        flex-grow: 1; 
    }

    img {
        width: calc(100% - 20px);
        left: 10px;
        top: 10px;
        margin-top: 1%;
    }

    #locateButton {
        margin-left: 0;
    }
}

/* Media Query für Bildschirmgrößen größer als 768px */
@media only screen and (min-width: 768px) {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
